
.contact-container {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 2rem;
  }
  
 
  .hero {
    background: url('https://i.ytimg.com/vi/SU1X-BlMPWg/maxresdefault.jpg') center/cover no-repeat; 
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 2rem;
    width: 100vw; 
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    text-shadow: 2px 2px 4px #000000;

  }
  .hero-content {
    text-align: center;
    width: 100%;
  }
  .hero h1{
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;

    
  }
  .hero p{
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;

    
  }
  
  
  .info-card {
    display: flex; 
    align-items: center; 
    margin: 1rem 0; 
    font-weight: bold;
    color: #78350F;

  }
  

  .icon {
    color: #c8a248; 
    margin-right: 1rem; 
    font-size: 1.5rem; 
  }
  

  .contact-main {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    margin-top: 2rem; 
  }
  
  
  .map iframe {
    width: 100%; 
    height: 400px; 
    border: none; 
  }
  .contact-form {
    background: #f8f8f8; 
    padding: 2rem; 
    border-radius: 8px; 
  }
  
 
  .contact-form h2 {
    margin-bottom: 1rem; 
  }
  

  .contact-form input,
  .contact-form textarea {
    width: 100%; 
    padding: 0.8rem; 
    margin: 0.5rem 0 1rem; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
  }
  
  /* Botón de enviar */
  .contact-form button {
    background: #97400e; 
    color: white; 
    padding: 0.8rem 2rem; 
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
  }
  
  /* Mensaje de éxito */
  .success-message {
    color: green; 
    margin-bottom: 1rem; 
  }
  
/* Redes sociales */
.social-media {
  text-align: center;
  margin-top: 3rem;
}
.social-media h3{
  font-size: 30px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  color: #b54708;
  font-weight: bold;
}

/* Contenedor de los íconos */
.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem; 
}

/* Cada enlace de red social */
.social-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #555;
  transition: color 0.3s;
  text-decoration: none;
}

/* Icono */
.social-icon {
  font-size: 2rem; 
  margin-bottom: 0.5rem;
}

/* Texto */
.social-text {
  font-size: 1rem;
  line-height: 1.2;
}

/* Hover */
.social-link:hover {
  color: #c8a248; 
}
  